.main{
    position: absolute;
    top: 32px;
    right: 32px;
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container {
    height: 100px;
    background: #6AC068;
    border-radius: 8px;
    padding: 16px;
}



button, p {
    color: white;
}

button {
    float: right;
}

.header {
    font-weight: bold;
}
