<div class="main">
    <button class="primary" (click)="addJoke()">Dodaj</button>
    <div class="container" *ngIf="jokes!.length > 0;else empty">
        <div *ngFor="let joke of jokes; let i = index" class="card">
            <div class="category">
                <p>kategoria:</p>
                <p>{{getCategory(joke.category)}}</p>
            </div>
            <p>{{joke.content}}</p>
            <button (click)="deleteJoke(joke)" class="primary warning">Usuń</button>
        </div>
    </div>
    <ng-template #empty>
        <p>Żadnych żartów((</p>
    </ng-template>
</div>