.main {
    width: 80%;
    margin: 10%;
    & > button:last-child {
        float: right;
    }
}

.container {
    margin: 2rem 0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    & > p {
        padding: 45px 0px;
        text-align: center;
    }
    padding: 45px 32px;
}
