<div class="main">
    <button (click)="addJoke()" class="primary">Dodaj</button>
    <div class="container" *ngIf="currentJoke !== undefined;else empty">
        <div class="category">
            <p>kategoria:</p>
            <p>{{currentJokeCategory}}</p>
        </div>
        <p>{{currentJoke!.content}}</p>
    </div>
    <button (click)="nextJoke()" *ngIf="currentJoke !== undefined" class="primary">Pokaż następny</button>
    <ng-template #empty>
        <p>Żadnych żartów((</p>
    </ng-template>
</div>